body{
    margin: 0;    
    
    background-color: hsl(218, 23%, 16%);    
}
*{
    font-family: 'Manrope', serif;
    font-weight: 800;
    font-size: 28px;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.container-text {
    background-color: hsl(217, 19%, 24%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 4vw;
    width: 32%;
    border-radius: 12px;
    padding: 3vh 3vw;
    height: auto;
    span{
        color: hsl(150, 100%, 66%);             
        letter-spacing: 3px;
        small{
            font-size: 12px;
        }    
    }
    p {
        color: hsl(193, 38%, 86%);
        text-align: center;
    }
    .container-decoration{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 3vh;
        div{
            width: 10px;
            height: 15px;
            margin: 0 3px;
            border-radius: 5px;
            background-color: white;
        }
        hr{
            opacity: 0.2;
            margin: auto 0.8vw;
            width: 100%;
        }
    }
    @media screen and (max-width: 375px) {
        &{
            width:auto
        }
    }
}

.container-btn{
    position: relative;
    top: 6vh;
    button{
        border: 0 none;
        background-color: hsl(150, 100%, 66%);
        border-radius: 50%;
        text-align: center;

        &:hover{
            cursor: pointer;
            box-shadow: 0px 0px 20px 4px hsl(150, 100%, 66%);
        }
        img{
            padding: 15px 13px;
        }
    }
}
.attribution{
    font-size: 12px;
    a{
        font-size: 12px;
    }
}